body{
  background:lavenderblush;
  padding:50px;
}
.grid-container 
{
  display: grid;
  justify-content:center;
  grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 5px;
  padding: 10px;
  border:2px solid black;  
  background:black;
  width:210px;
  margin:auto;
  border-radius:10px;
  margin-top:2em;
}
.grid-item1{
  grid-column-start: 1;
  grid-column-end: 5;
}
input{
  border:2px solid whitesmoke;
  font-size:2em;
  border-radius:10px;
}
.grid-item-symbol{
  background:blueviolet;
}
.grid-item{
  background:orange;
}